<p>
  options works!
</p>
<mat-form-field class="example-full-width" >
  <input [name]="field.name" 
  type="text" 
  [placeholder]="field.label" 
  aria-label="Number" 
  matInput [formControl]="inputControl" 
  [matAutocomplete]="auto" autocomplete="nope" >
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
    <mat-option *ngFor="let option of filteredOptions " [value]="option" >
        {{option[displayField]}}
    </mat-option>
</mat-autocomplete>
</mat-form-field>